body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #f6d365 0%, #fda085 100%);
    padding: 0px;
    color: #333;
}


h2 {
    background: #ffb347;
    color: #B22222;
    padding: 10px;
    border-radius: 8px;
    text-align: center;
    font-size: 1.7em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

li {
    display: block;
    margin-bottom: 20px;
    padding: 10px;
    background: rgba(255, 255, 255, 0.8);
    border-radius: 8px;
}


.ubi-num {
   font-weight: bold;
}

button {
    background: #4CAF50;
    color: white;
    padding: 10px 20px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1em;
    transition: background 0.3s;
}

button:hover {
    background: #45a049
}

